[Desktop Entry]
Version=1.0
Type=Application

Name=Waternet
Comment=Waternet is a multiplatform puzzle game written for old consoles and handhelds.
Categories=Game;LogicGame;

Icon=io.github.joyrider3774.waternet_playdate
Exec=waternet_playdate
Terminal=false